{% extends 'invoice/base.html' %}
{% load crispy_forms_tags %}


{% block main %}
{% if doctor %}
    <h1>
        Invoice generator
    </h1>

<form method="POST" action="/invoice/makepdf" autocomplete="off">
    {% csrf_token %}
    <div class="form-group form-text">
        <label class="form-date-label" for="client">Invoice title</label>
        <input type="text" class="form-date-input" name="invoice_name" />
    </div>
    <div class="form-group form-text">
        <label class="form-date-label" for="client">Client name</label>
        <input type="text" class="form-date-input" name="client" value="{{ client }}" readonly />
        <input type="hidden" name="client_id" value="{{ client_id }}" readonly/>
    </div>
    <div class="form-group form-text">
        <label class="form-date-label" for="insurance">Insurance</label>
        <input type="text" class="form-date-input" name="insurance" value="{{ insurance }}" readonly />
    </div>
    <div class="form-group form-text">
        <label class="form-date-label" for="payment">Payment amount</label>
        <input type="number" class="form-date-input" name="payment" value="{{ payment }}" readonly />
    </div>
    <div class="form-group form-text">
        <label class="form-date-label" for="doctor">Doctor</label>
        <input type="text" class="form-date-input" name="doctor" value="{{ doctor }}" readonly />
        <input type="hidden" name="doctor_id" value="{{ doctor_id }}" readonly />
    </div>
    <div class="form-group form-select" style="display: none">
        <select name="appointmentlist" id="appointmentlist">
            {% for date in dates %}
                <option value="{{ date.id }}">{{ date.date }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="appointment">Appointment:</label>
        <input type="text" class="form-control autocomplete" name="appointment" id="appointment" placeholder="Select Appointment (e.g., April 1st, 2019, 4 p.m.)">
    </div>
    <button type="submit" class="btn btn-primary">Genarate Invoice</button>
    </form>
    <script>
        var x = document.getElementById("appointmentlist"); 
        var optionVal = new Array();
        for (i = 0; i < x.length; i++) { 
            optionVal.push(x.options[i].text);
            console.log(x.options[i].text);
        }
        autocomplete(document.getElementById("appointment"), optionVal);
    </script>
{% else %}
<h1>
    no invoice number found
</h1>
{% endif %}

{% endblock %}