{% extends 'invoice/base.html' %}
{% load crispy_forms_tags %}


{% block main %}
{% if doctor %}
    <h1>
        Invoice generator
    </h1>

<form method="POST" action='/invoice/makepdf'>
    {% csrf_token %}
    <div class="form-group form-text">
            <label class="form-date-label" for="client">Client name</label>
            <input type="text" class="form-date-input" name="client" value="{{ client }}" readonly />
        </div>
        <div class="form-group form-text">
            <label class="form-date-label" for="insurance">Insurance</label>
            <input type="text" class="form-date-input" name="insurance" value="{{ insurance }}" readonly />
        </div>
        <div class="form-group form-text">
            <label class="form-date-label" for="payment">Payment amount</label>
            <input type="number" class="form-date-input" name="payment" value="{{ payment }}" readonly />
        </div>
        <div class="form-group form-text">
            <label class="form-date-label" for="doctor">Doctor</label>
            <input type="text" class="form-date-input" name="doctor" value="{{ doctor }}" readonly />
        </div>
        <div class="form-group form-select">
            <label class="form-date-label" for="doctor">Appointment</label>
            <select name="appointment">
                {% for date in dates %}
                    <option value="{{ date.id }}">{{ date.date }}</option>
                {% endfor %}
                <!-- this needs to be changed to available dates send in context from views -->
                <!-- <option value="1">Wednesday April 10th 2:00 PM - 3:00 PM, 2019</option> -->
            </select>
        </div>
    <!-- <div class="form-group form-date">
        <label class="form-date-label" for="exampledate1">Visit day</label>
        <input type="date" class="form-date-input" id="exampledate1">
    </div>
    <div class="form-group form-time">
        <label class="form-time-label" for="exampletime1">Appointment time began at</label>
        <input type="time" class="form-time-input" id="exampletime1">
    </div>
    <div class="form-group form-time">
        <label class="form-time-label" for="exampletime2">Appointment time ended at</label>
        <input type="time" class="form-time-input" id="exampletime2">
    </div> -->
    <button type="submit" class="btn btn-primary">Genarate Invoice</button>
    </form>
{% else %}
<h1>
    no invoice number found
</h1>
{% endif %}

{% endblock %}