{% extends 'invoice/base.html' %}
{% load crispy_forms_tags %}

{% block main %}
{% if client %}

<form method="POST" action="/invoice/generateinvoice">
    {% csrf_token %}
    <div class="form-group form-text">
        <label class="form-date-label" for="client">Client name</label>
        <input type="text" class="form-date-input" name="client" id="name" value="{{ client.name }}" readonly>
        <input type="hidden" name="client_id" id="client_id" value="{{ client.id }}" readonly/>
    </div>
    <div class="form-group form-text">
        <label class="form-date-label" for="insurance">Insurance</label>
        <input type="text" class="form-date-input" name="insurance" value="{{ client.insurance }}" readonly>
    </div>
    <div class="form-group form-text">
        <label class="form-date-label" for="payment">Payment amount</label>
        <input type="number" class="form-date-input" name="payment">
    </div>
    <div class="form-group form-select">
    <label class="form-date-label" for="doctor">Doctor</label>
    <select name="doctor" id="doctor">
        {% for doctor in doctor_list %}
            <option value="{{ doctor.id }}">{{ doctor.name }}</option>
        {% endfor %}
    </select>
    </div>
    <button type="submit" class="btn btn-primary">Next</button>
    </form>
{% else %}
    <p>No clients are available.</p>
{% endif %}

{% endblock %}