{% extends 'invoice/base.html' %}
{% load crispy_forms_tags %}
{% block main %}
{% if client_list %}
<h3> Select Client </h3>
<hr />
<form method="POST" action="/invoice/getinfo">
    {% csrf_token %}
    <div class="form-group">
        <!-- <small id="firstnameHelp" class="form-text text-muted">Client's name</small> -->
        <label for="client">Client</label>
        <select name="client" id="client">
            {% for client in client_list %}
                <option value="{{ client.id }}">{{ client.name }}</option>
            {% endfor %}
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Next</button>
</form>
{% else %}
<p>No clients are available.</p>
{% endif %}
{% endblock %}