{% extends 'invoice/base.html' %}
{% load crispy_forms_tags %}


{% block main %}

<h3> List of available appointment dates successfully reset or imported. </h3>
<!-- <form method="POST" autocomplete="off"> -->
    {% csrf_token %}
    <div class="form-group form-text">
        <label class="form-date-label" for="start_date">Start Date</label>
        <input type="text" class="form-date-input" name="start_date" value="{{ start_date }}" readonly>
    </div>
    <div class="form-group form-text">
        <label class="form-date-label" for="end_date">End Date</label>
        <input type="text" class="form-date-input" name="end_date" value="{{ end_date }}" readonly>
    </div>
    <div class="form-group form-text">
        <label class="form-date-label" for="start_hour">Start work hour</label>
        <input type="number" class="form-date-input" name="start_hour" value="{{ start_hour }}" readonly>
    </div>
    <div class="form-group form-text">
        <label class="form-date-label" for="end_hour">Finish work hour</label>
        <input type="number" class="form-date-input" name="end_hour" value="{{ end_hour }}" readonly>
    </div>
    <a href="/invoice">
        <button type="submit" class="btn btn-primary" id="back" >Back</button>
    </a>
<!-- </form> -->


{% endblock %}