<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Invoice PDF</title>
    <style type="text/css">
        body {
            font-family: 'Tahoma';
        }
        #service_info {
            border: 1px solid #000;
            padding-left: 3px;
        }
        #service_info th {
            height: 20px;
            background-color: rgb(117, 193, 196);
        }
        #service_info td {
            height: 22px;
        }

        #total {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <h2> RICHMONDHILL CLINIC </h2>
    <div id='current_date'>
        {{ current_date }}
    </div>
    <div id='address'>
        9080 Yonge Street, Unit 8 <br />
        Richmondhill, Ontarion <br />
        L4J 0Y7 <br />
        Tel: 647-292-4772 <br />
    </div>
    <div id='client_info'>
        <b>TO: </b> <br /> 
        {{ client_name }} <br />
    </div>

    <table id='service_info'>
        <thead>
            <th>Date of Service</th>
            <th>Serivces Provided</th>
            <th>Patient Fee</th>
        </thead>
        <tr>
            <td>{{ service_date }}</td>
            <td> Treatment Visit </td>
            <td> ${{ payment }} </td>
        </tr>
    </table>

    <div id='total'>
        <b>SUBTOTAL: </b>${{ payment }} <br />
        <br />
        <b>TOTAL AMOUNT OWING: </b>${{ payment }} <br />
    </div>

    <div id='doctor'>
        {{ doctor }}
    </div>
    
     
</body>
</html>